/****** General ***********/


* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: auto;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

.main { 
    padding: 0 50px;
    
}


/****** Header ******/

.header { 
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.logo-container {
   width: 161.09px;
   height: 79px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.header-logo {
    width: 37.9%;
    height: auto;
}

.navigation {
    padding: 0px 50px 0px 50px;
    height: 35px;
}

.menu-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 68px;
    height: 100%;
}

.button-hebergements {
    height: 100%;
    display: flex;
    align-items: end;
}

.button-hebergements:hover {
    color: var(--main-color);
    border-top: 2px var(--main-color) solid;
}

.button-activites {
    height: 100%;
    display: flex;
    align-items: end;
}

.button-activites:hover {
    color: var(--main-color);
    border-top: 2px var(--main-color) solid;
}

/****** Search zone *****/

.search-zone { padding: 30px 0px 30px 00px;
   
}

.search-bar {
    Width: 377px;
    height: 49px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    margin: 2em 0em;

}

.loc-icon {
    padding: 15px 18px;
    background-color: var(--main-bg-color);
    border-radius: 15px 0px 0px 15px;
    border: 1px var(--main-bg-color) solid;
    border-right: none;
}

.taping-zone {
    display: flex;
    flex-direction: row;
    align-items: center;
  
    height: 100%;
    width: 100%;
    border-top: 1px var(--main-bg-color) solid;
    border-bottom: 1px var(--main-bg-color) solid;
}

input[id=city] {
    font-size: 18px;
    font-weight: bold;
    border: none;
    text-align: center;
}

input[id=city]:focus {
    outline: none;
}



input[id=city]:visited {
    background-color: white;
}



.button-search {
    padding: 15px 16px 15px 16px;
    border-radius: 0px 15px 15px 0px;
    background-color:var(--main-color) ;
    color: white ;
    font-weight: bold;  
    border: 1px var(--main-bg-color) solid;
    border-left: none;  
}

.city-filter {
    width: 758px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap : 15px;

    
}

.button-filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border : 2px var(--main-bg-color) solid;
    border-radius: 25px;
    padding: 4px 19px;
    gap : 10px;
    height: 2em;
    width: auto;
    align-items: center;
}

.button-filter:hover {
    background-color: #DEEBFF;
   
}

.info-disponibility {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 1em 0em 0em 0em;

}

.info-icon {
    border:1px var(--main-bg-color) solid;
    border-radius: 50%;
    height: 1em;
    width: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap:30px;
    padding: 30px;
    
}


.hebergements .cards-row {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    height: auto;   
}
.hebergements .cards-row a {
    flex: 1;
}

.hebergements .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    
}

.hebergements img {
    height: 124px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements .card-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements .card-subtitle {
    margin: 0;
}

.hebergements .card-rating {
    margin-bottom: 5px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/***** Activites *****/

.activites {
    padding: 30px;
    display: flex;
    flex-direction: column;  
    gap: 30px;
}

.activites-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}

.activites a {
    width: 25%;
}
.activites .card {
    padding: 0;
}

.activites img {
    height: 380px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites .card-content {
    padding: 5px 20px;
}


/****** Footer *****/

.footer {
    padding: 0px 50px;
}

.footer-container {
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: row;
}

.footer-section {
    width: 33%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
}

.footer-title {
    margin: 0;
}
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}